.weffect .wparticle-xxl {
  font-size: 3em;
}

.weffect .wparticle-xl {
  font-size: 2em;
}

.weffect .wparticle-l {
  font-size: 1em;
}

.weffect .wparticle-m {
  font-size: 0.7em;
}

.weffect .wparticle-s {
  font-size: 0.5em;
}

.weffect .wparticle-xs {
  font-size: 0.4em;
}

.weffect .wparticle-xxs {
  font-size: 0.3em;
}